<div class="padded">
	<%= render partial: 'common/application_header' %>
	<div class="container">
		<h2 class="title centered">Genres</h2>
		<p class="centered"><%= link_to "Add New Genre", new_genre_path %></p>
		<% @genres.each do |genre| %>
			<p><%= link_to genre.title, genre_path(genre) %></p>
		<% end %>
	</div>
</div>