/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.hidden {display:none;}
.padded {padding:20px;}
.container {background-color:#D0D0D0; padding: 10px;}
.title {text-decoration:underline; margin-bottom:0; }
.centered {text-align:center;}
.top-margined {margin-top: 5px;}
.search-list {display: inline; list-style-type: none;}
.toggle-visibility {display:none;}
.dashboard-header-nav { margin-top:10px; margin-bottom:10px;}
.dashboard-header-nav td {background-color:#D0D0D0; padding:10px; margin-right:20px;}
.dashboard-header-nav td a {text-decoration: none; color: black;}
.dashboard-header-nav td.active {background-color:#A0A0A0 ;}
.songs-listing {padding: 0 20px; text-align:left;}